=form_for :account do |form|
 %fieldset#as_notification_setting
  %legend Desktop notification
  =submit_tag t(:desktop_notification_on), {:id => 'dn-button', :class => "submit red button large"}
  .set-notification-time.form-inline
   %label= t(:notification_time_in_second)
   =text_field_tag '', '', {:class => :text, :id => 'notification-time', :placeholder => t(:second)}
   %input{:type => 'submit', :class => 'submit red button', :id => 'set-notification-time-button', :value => t(:set)}

  .rooms{:style => 'display: none;'}
   %h5 Settings for each rooms
   %table{:style => 'width:100%'}
    - Room.all_live(current_user).each do |room|
     %tr
      %td
       =link_to room.title, chat_room_path(room)
       =image_tag('private.png', :class => 'icon', :alt => t(:private_room), :title => t(:private_room)) unless room.is_public
      %td
       =submit_tag 'Notification Off', :class => "submit red button", :name => room._id
