!link-color = #e2041b
!link-visited-color = #e597b2

body
  :background-color #fafafa

.header
  :background-image url(../images/logo.png)
  :background-repeat no-repeat
  :text-indent -999px
  :height 90px
  :margin-left 15px

.main
  :width 720px
  :margin auto
  :border 1px solid #ccc
  :background-color #fff

.footer
  :margin-top 40px
  :color #999
  :text-align center
  :font-size 80%

a
  :color !link-color
  :font-style normal
  :text-decoration underline

a:link
  :color !link-color
  :font-style normal
  :text-decoration underline

a:visited
  :color !link-visited-color
  :text-decoration underline

a:hover
  :color !link-color
  :font-style normal
  :text-decoration underline

a:active
  :text-decoration none

