// variable
!link-color = #e2041b
!link-visited-color = #e597b2

// layout
body
  :background-color #fafafa
  :color #333

.header
  :height 70px
  :margin 15px
  :margin-bottom 40px
  :border-bottom 1px solid #ccc

.main
  :width 720px
  :margin auto
  :border 1px solid #ccc
  :background-color #fff
  :-moz-box-shadow 1px 1px 2px #999
  :-webkit-box-shadow 1px 1px 2px #999

.footer
  :margin-top 50px
  :margin-left 15px
  :margin-right 15px
  :color #999
  :text-align center
  :font-size 80%
  :border-top 1px solid #ccc

.yield
  :width 660px
  :margin auto
  :text-align center

.room-info
  :background -moz-linear-gradient(center top, #eeeeee 41%,#dddddd 100%)
  :background -webkit-gradient(linear, left top, left bottom, color-stop(0.41, #f4f4f4),color-stop(1, #ededed))
  :border 1px solid #ccc
  :font-size 100%
  :margin-top 15px
  :margin-bottom 15px
  .left
    :float left
    :text-align left
    :width 90%
  .right
    :float right
    :text-align right
    :width 10%
    img
      :margin-top 3px
      :margin-right 3px

.room-date, .room-owner
  :text-align right
  :font-color #bbb
  :font-size 90%

.clear
  :clear both

.search-form
  .left
    :width 75%
    :float left
  .right
    :width 25%
    :float right
    :text-align left


// normal tag
h3
  :padding 2px
  :margin 2px
  :margin-left 5px
  :text-align left
  :font-size 100%

td
  :border-top 1px solid #ddd

// pages
.room-list
  :width 660px
  :margin auto
  :margin-top 30px
  td
    :text-align center
  .name
    :width 60%
  .update

.message-list
  :margin-bottom 20px

.message
  :border 1px solid #eee
  :text-align left
  :padding 5px
  :padding-left 10px
  :padding-right 10px
  :margin-bottom 3px
  :-moz-border-radius 5px 5px 5px 5px
  :-webkit-border-radius 5px 5px 5px 5px
  :background -moz-linear-gradient(center top, #fcfcfc 40%,#efefef 100%)
  :background -webkit-gradient(linear, left top, left bottom, color-stop(0.4, #fcfcfc),color-stop(1, #efefef))
  :-moz-box-shadow 0 1px 1px #ccc
  :-webkit-box-shadow 0 1px 1px #ccc
  :font-size 90%
  p
    :padding 0
    :margin 0
  span
    :font-weight bold
  .body
    span
      :font-weight normal
  p.attachment
    img
      :max-width 500px

img.profile
  :width 16px
  :height 16px

.buttons
  :text-align center
  :margin-top 20px

// link
a
  :color !link-color
  :font-style normal
  :text-decoration underline

a:link
  :color !link-color
  :font-style normal
  :text-decoration underline

a:visited
  :color !link-visited-color
  :text-decoration underline

a:hover
  :color !link-color
  :font-style normal
  :text-decoration underline

a:active
  :text-decoration none

// form
form
  :vertical-align bottom
.text
  :border 1px solid #999
  :font-size 18px
  :width 360px
  :background-color #fafafa
  :margin-left 50px
textarea.text
  :height 52px
.text:focus
  :background-color #fff
input.submit, input.submit:hover
  :border none
fieldset
  :border none
  :border-top 1px solid #ddd
  :border-bottom 1px solid #ddd
  :padding-bottom 20px
legend
  :padding 10px
select
  :font-size 18px
  :width 240px
  :margin-left 50px
  :margin-top 10px

// http://papermashup.com/pretty-css3-buttons/
.button, .button:hover, .button:visited, .button:link
  :background #222 url(../images/overlay.png) repeat-x
  :display inline-block
  :padding 5px 10px 6px
  :color #fff
  :text-decoration none
  :-moz-border-radius 6px
  :-webkit-border-radius 6px
  :-moz-box-shadow 0 1px 3px rgba(0,0,0,0.6)
  :-webkit-box-shadow 0 1px 3px rgba(0,0,0,0.6)
  :text-shadow 0 -1px 1px rgba(0,0,0,0.25)
  :border-bottom 1px solid rgba(0,0,0,0.25)
  :position relative
  :cursor pointer

.large.button, .large.button:visited
  :font-size 14px
  :padding 8px 14px 9px
  :font-weight bold

.red.button, .red.button:visited
  :background-color #e62728
.red.button:hover
  :background-color #cf2525

.contextual
  :float right
  :white-space nowrap
  :line-height 1.4em
  :margin-top 5px
  :padding-left 10px
  :font-size 0.9em

.error_message
  :width 95%
  :border 1px solid #f99
  :padding-left 10px
  :margin-left 10px
  :margin-bottom 10px
  :background-color #eee

.update_time
  :font-size 70%
