.yield
 =form_for :room, :url => {:action => 'room'} do |form|
  %fieldset
   %legend= t(:InputRoomName)
   =text_field :room, :title, :class => :text
   =submit_tag t("Create"), :class => "submit red button large"
