-# -*- coding: utf-8 -*-
.yield
 = render :partial => 'search/search_form', :locals => {:advanced => false}

 %table.room-list
  %tr
   %th=t :name
   %th=t :last_update
  - @rooms.each do |room|
   %tr
    %td.name
     =link_to room.title, chat_room_path(room)
     =image_tag('private.gif', :alt => t(:private_room), :title => t(:private_room)) unless room.is_public
    %td.update
     = l(room.updated_at)

 - if logged?
  .buttons
   =link_to t(:create_new_room), {:controller => :room, :action => :create}, :class => "large red button"

