.title= @room.title
- form_for :chat, :url => {:controller => 'chat', :action => 'message', :room_id => @room.id} do |f|
  %input{:type => 'text', :name => 'message'}
  %input{:type => 'submit', :value => 'tweet'}

- @messages.each do |message|
  .message= message.body

