.yield
 %h3.title= @room.title
 .message-list
  = @messages.each do |message|
   .message
    %p
     %img{:src=>'http://a3.twimg.com/profile_images/567093430/coco_normal.png', :alt => '_mzp'}
     %span _mzp
    %p= message.body

 .input
  = form_for :chat, :url => {:controller => :chat, :action => :message, :room_id => @room.id} do |f|
   =text_field_tag :message, '', :class => :text
   =submit_tag t(:send), :class => 'submit red button large'



