:javascript
 $(function(){
   $('textarea#message').textcomplete({
     "gemoji": {
       emojies: #{Emoji.names},
       match: /(^|\s):([\w|\+|\-]*)$/,
       search: function(term, callback){
         var regexp = new RegExp('^' + term.replace("+", "\\+"));
         callback($.map(this.emojies, function (emoji) {
           return regexp.test(emoji) ? emoji : undefined;
         }));
       },
       replace: function(value){
         return ":" + value + ":";
       },
       template: function(value){
         return "<img src='#{asset_path('emoji')}/" + value + ".png'>" + value + "</img>";
       },
       maxCount: 5,
     }
   });
 });
